.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: 0px; /* gutter size offset */
    margin-top: 2px;
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 0px; /* gutter size */
    background-clip: padding-box;
  }